/* Colours */
:root{
  --red: #ff4141;
  --orange: #ff7a00;
  --yellow: #ffd600;
  --green: #2cc74e;
  --neon: #00ffb7;
  --azure: #256ef5;
  --blue: #3250ed;
  --purple: #a451fc;
  --pink: #bd00ff;
}

/* Displays */
*[block]{display:block}
*[inline-block]{display:inline-block}
*[flex]{display:flex}
*[grid]{display:grid}
*[inline]{display:inline}
*[hide]{display:none}

/* Shadows */
*[shadow="s"]{box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;}
*[shadow],*[shadow="m"]{box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;}
*[shadow="l"]{box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;}
*[shadow="xl"]{box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;}

/* General */
*[center]{justify-content:center;align-content:center;text-align:center;}

/* Text colors */
*[color="white"]{color:white}
*[color="black"]{color:white}
*[color="red"]{color:var(--red)}
*[color="orange"]{color:var(--orange)}
*[color="yellow"]{color:var(--yellow)}
*[color="green"]{color:var(--green)}
*[color="blue"]{color:var(--blue)}
*[color="purple"]{color:var(--purple)}
*[color="pink"]{color:var(--pink)}
